# Environnement virtuel
venv/

# Cache Python
__pycache__/
*.pyc

# Fichiers générés
static/outputs/

# Images de test
*.jpg
*.png
model/*.keras

# Modèles de machine learning
model/*.h5
model/*.keras
*.tflite
*.onnx

# Ne pas ignorer model.tflite
!models/model.tflite

# Ignorer les autres .tflite par défaut
*.tflite
